/*This is my css file for the password check*/
body {
    background-image: url("credit-card.jpg");
    color: white;
}

.siteC{
    width: 90%;
    text-align: center;
    font-family: "Helvetica", sans serif;
    height: auto;
    padding: 50px 0 0 0;
    margin: 50px auto;
    border: 5px solid rgba(165,42,42,0.8);
    background-color: rgba(69,107,140,0.9);
}

.mC{
    font-weight: lighter;
    width: 80%;
    margin: auto;
}

.submitButton, .userPassword {
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(12,40,64,0.9);
    border: 2px solid rgba(165,42,42,0.9);
}

.userPassword {
    margin-bottom: 20px !important;
}

.enterWebsite {
    color: white;
    font-size: 1em;
    margin: 30px 0 100px 0 !important;
    padding: 10px 20px;
    text-decoration: none !important;
    background-color: rgba(12,30,64,0.9);
    border-color: rgba(165,42,42,0.9);
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
    color: cornsilk !important;
}

.footInfo {
    width: 100% !important;
    height: 100% !important;
    float: left;
    margin-bottom: 50px;
}

.emailPhone {
    text-align: left !important;
    float: left;
    width: 40%;
    margin-left: 2%;
    height: 30px !important;
}

.githubLinkedIn{
    text-align: right !important;
    float: right;
    width: 40%;
    margin-left: 2%;
    height: 30px !important;
}

.contactID {
    color: rgba(12,40,64,1);
    font-size: 0.8em;
    padding: 0 15px 0 !important;
}

.contactID:hover {
    color: white !important;
    font-size: 0.8em;
    padding: 0 15px 0 !important;
}
